Source: freedoko-binary-no-network
Section: games
Priority: extra
Maintainer: Diether Knof <dknof@gmx.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: freedoko-binary-no-network
Architecture: any
Provides: freedoko-binary 
Conflicts: freedoko (<< 0.6.6), freedoko-binary
Depends: freedoko-data, libgtkmm-2.4-1c2a, libalut0
Suggests: freedoko-manual
Description: The german card game ``Doppelkopf''
 The game ``Doppelkopf'' is a card game for four or more Players similar to ``Skat'' (like 'xskat').
 One game will be played by four players.
 Doppelkopf originates probably from the mostly in south germany played game ``Schafkopf''.
 The game is written with GTKMM for Linux and Windows.
