Source: freedoko-cardsets-pysol
Section: games
Priority: extra
Maintainer: Diether Knof <dknof@gmx.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: freedoko-cardsets-pysol
Architecture: all
Provides: freedoko-cardset
Description: pysol cardset for 'freedoko'
 This package does contain the pysol cardsets for the game 'freedoko'.
